:root {
  --primer-color: #8b6cb8;
  /*fondo*/
  --secundo-color: #07f3f3;
  --tercero-color: #0697a8;
  --cuarto-color: #f4a009;
  --quinto-color: #011740;

  --footer-color: #011740;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-image: url('../multimedia/img/fondo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #302d5a;
  /* cursor:url('../multimedia/img/mano.png'),32 32, auto; */
  cursor: none;
  font-family: 'Amarante';
}

#cursor-img {
  position: fixed;
  width: 120px;
  height: auto;
  pointer-events: none;
  transform: translate(-80%, -10%);
  z-index: 1000;
}

.seccion1,
.seccion2,
.seccion3 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion1 {
  flex-direction: column;
}

.seccion3 {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-color);
  width: 100%;
  height: 40vh;
}

/* Contenedor flotante de video */
.flotante {
  position: fixed;
  bottom: 20px;
  left: 20px; /* lado izquierdo */
  max-width: 200px;
  z-index: 1000;
  border: 2px solid #07f3f3;
  padding: 5px;
  border-radius: 8px;
  display: none; /* oculto por defecto */
}

/* Video dentro del flotante */
.flotante video {
  width: 180px;
  height: auto;
  border-radius: 6px;
}

/* Botón de cerrar */
.cerrar-boton {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  padding: 2px 5px;
}



/* ...............................................................Botón flotante Calavera */

.flotante-calavera {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: none;
  /* oculto por defecto */
  cursor: none;
}

.flotante-calavera img {
  width: 60px;
  height: auto;
  transition: transform 0.2s ease;
}

/* Vibración */
@keyframes vibrar {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

.shake-horizontal {
  animation: vibrar 0.3s infinite;
}



.flotante-calavera.shake-horizontal {
  animation: vibrar 0.8s;
}

/* animación de vibración */
@keyframes vibrar {
  0% {
    transform: translate(0, 0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0, 0);
  }
}