   
:root {
  --primer-color: #021740;
  --segundo-color: #f2a007;
  --tercer-color: #05f2f2;
  --cuarto-color: #0596a6;
  --quinto-color: #9430bf;
  --sexto-color: rgb(238, 151, 230);
  --footer-color: #30163d;
}
 
 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #25052b;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/****modal video*/
#miModal {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	border: none;
	 max-width: none;
    max-height: none;
	background-color: #3a0646;
	
}
    body.modal-open {
    overflow: hidden; 
}
.contenedor-video{
display: flex;
justify-content: center;
align-items: center;
}
.contenedor-video video{
	position: absolute;
	top: 10%;
	border: #25052b solid 25px;
}

#cerrarModal {
	position: absolute;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 2vw;
	top: 2%;
	right: 2%;
}

.seccion4{
	background-image: url('../multimedia/img/Fondo_1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  position: relative;
}
.seccion5{
	position: relative;
     flex-direction: column;
}
.seccion6{
	flex-direction: column;
}

.seccion4,.seccion5,.seccion6, .seccion7 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion7 {
    position: relative; 
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
}


.seccion7 iframe {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
    object-fit: cover; 
}


.seccion7 h2 {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 10; 
    color: rgba(243, 241, 244, 0.429); 
    font-size: 14rem;
	font-family:'Amarante', serif;
	width: 100%;
	text-align: center;
}
.store-links{
	position: absolute;
	top: 10%;
	left: 3%;
	width: 60px;
	height: 60px;
	display: flex;
	border-radius: 50%;
	background-color: #f27d079b;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
}
.store-links img{
	position: absolute;
	left: 5%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.store-links:hover{
	background-color: #f2a007;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-color);
  width: 100%;
  height: 40vh;
}