.seccion4 {
  position: relative !important;
  
}


/****modal video
#miModal {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	border: none;
	 max-width: none;
    max-height: none;
	background-color: #3a0646;
	
}
    body.modal-open {
    overflow: hidden; 
}
.contenedor-video{
display: flex;
justify-content: center;
align-items: center;
}
.contenedor-video video{
	position: absolute;
	top: 10%;
	border: #25052b solid 25px;
}

#cerrarModal {
	position: absolute;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 2vw;
	top: 2%;
	right: 2%;
}

.seccion4{
	background-image: url('../multimedia/img/Fondo_1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}