.seccion {
  position: relative;
}

/* Sección 5 - Making Of */
#seccion5 {
  text-align: center;
  padding: 40px 20px;
}

#seccion5 h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #f6e9c7;
  font-family: 'Amarante';
}

/* Estilo del video */
#seccion5 video {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: 5px solid #0697a8;
}

.btn-playstore {
  position: absolute;       /* Se queda en la sección */
  top: 20px;                /* Distancia desde arriba */
  right: 20px;              /* Distancia desde la derecha */
  display: inline-block;
}

.btn-playstore img {
  width: 30px;              /* Ajusta tamaño */
  height: auto;
  transition: transform 0.3s;
}

.btn-playstore img:hover {
  transform: scale(1.1);    /* Efecto al pasar el mouse */
}